body {
  margin: 0;
  padding: 0;
}
.proto {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.proto p {
  font-size: 2em;
  font-family: sans-serif;
  letter-spacing: 0.05em;
}
